@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");

$bg-orange-light: #fbc8c5;
$bg-blue-light: #acdef6;
$bg-main-blue: #0079c8;

* {
  font-family: "Euclid Circular A", sans-serif;
  scroll-behavior: smooth;
  letter-spacing: normal;
  box-sizing: border-box;
  text-decoration: none !important;
}

p {
  line-height: 2;
}
td {
  font-size: small;
}

#error-page {
  min-height: 100vh;
}

.error-content {
  max-width: 400px;
  padding: 20px;
}

.error-message {
  margin-top: 10px;
}

.error-message span {
  font-weight: bold;
}

.error-image-container {
  margin-top: 20px;
}

.login-container {
  background-image: url("./assets/images/login-bg-img.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: contain;
}

.loader-section {
  font-family: "Hind Guntur", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 61, 78, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

// .loader {
//   position: relative;
//   width: 164px;
//   height: 164px;
// }
// .loader::before,
// .loader::after {
//   content: "";
//   position: absolute;
//   width: 40px;
//   height: 40px;
//   background-color: #fff;
//   left: 50%;
//   top: 50%;
//   animation: rotate 1s ease-in infinite;
// }
// .loader::after {
//   width: 20px;
//   height: 20px;
//   background-color: #ff3d00;
//   animation: rotate 1s ease-in infinite, moveY 1s ease-in infinite;
// }

// @keyframes moveY {
//   0%,
//   100% {
//     top: 10%;
//   }
//   45%,
//   55% {
//     top: 59%;
//   }
//   60% {
//     top: 40%;
//   }
// }
// @keyframes rotate {
//   0% {
//     transform: translate(-50%, -100%) rotate(0deg) scale(1, 1);
//   }
//   25% {
//     transform: translate(-50%, 0%) rotate(180deg) scale(1, 1);
//   }
//   45%,
//   55% {
//     transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5);
//   }
//   60% {
//     transform: translate(-50%, 100%) rotate(180deg) scale(1, 1);
//   }
//   75% {
//     transform: translate(-50%, 0%) rotate(270deg) scale(1, 1);
//   }
//   100% {
//     transform: translate(-50%, -100%) rotate(360deg) scale(1, 1);
//   }
// }


.svg-calLoader {
  width: 230px;
  height: 230px;
  transform-origin: 115px 115px; /* Center of the SVG */
  animation: 2.4s linear infinite loader-spin;
}

.cal-loader__plane {
  fill: #FF3D00; /* Replace with your highlight color */
}

.cal-loader__path {
  stroke: #FFF; /* Replace with your stroke color */
  stroke-width: 2; /* Adjust as needed */
  fill: none;
  animation: 2.4s ease-in-out infinite loader-path;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader-path {
  0% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
  50% {
    stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
  }
  100% {
    stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
  }
}





.real {
  display: flex;

  .sidebar {
    flex: 1 1 0;
    margin: 0;
    // padding-top: 2rem;
    width: 280px;
    height: 100vh;
    background-color: white;
    box-shadow: 8px 0px 19px -4px rgba(36, 71, 97, 0.75);

    .admin-sidebar-link {
      display: block;
      line-height: 60px;
      color: #aebbd0;
      transition: 0.5s;
      padding-left: 20px;
      // padding-top: 5px;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: $bg-blue-light;
        text-decoration: none;
        border-radius: 10px;
      }
    }

    #menu {
      display: none;
    }

    .menu-b {
      display: none;
    }

    @media screen and (max-width: 700px) {
      width: 100%;
      height: auto;
      color: #ffffff;
      position: relative;

      // a {
      //   float: left;
      // }

      div.content {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 650px) {
      width: 100%;
      color: #aebbd0;
    }

    @media (min-width: 1025px) {
      #m-tog {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      .content {
        padding-top: 8rem;
      }

      & {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        max-width: 280px;
        transition: 0.2s linear;
        z-index: 20;
      }

      .sidebar-link {
        display: block;
        line-height: 5px;
        color: #ffffff;
        transition: 0.5s;
        margin-top: 20px;
        cursor: pointer;
        font-size: small;
      }
    }
  }

  .content {
    flex: 1 1 0;
    overflow: auto;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
  }

  .sidebar-toggle {
    position: fixed;
    top: 6rem;
    right: 0.5rem;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    background-color: white;
    cursor: pointer;
    z-index: 1;

    &.show {
      transform: rotate(45deg);

      &::before {
        top: 0;
        transform: rotate(0deg);
      }

      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }

  .admin-active-side {
    color: $bg-main-blue !important;
  }
}

.login-form-conatainer {
  width: 600px;
  margin: 10rem 0 0 0;
}

@media only screen and (max-width: 768px) {
  .login-form-conatainer {
    width: 100%;
    margin: 1rem 0;
  }
}

.dash-card-1 {
  height: 9rem !important;
}

.bg-color-1 {
  background-color: $bg-blue-light !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  // border-radius: 50px;
  // border-bottom: 5px solid $bg-blue-light !important;
  margin-bottom: 0.5rem;
}

td,
th {
  font-size: small;
}
.table-responsive .dropdown,
.table-responsive .btn-group,
.table-responsive .btn-group-vertical {
  position: static;
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  border-left: none;
  border-color: #dee2e6;
  background-color: rgb(255, 255, 255);
  color: #0079c8;
}

.password-input {
  border-right: none !important;
}

.dropdown-toggle::after {
  border: none !important;
}

.active-btn {
  background-color: $bg-blue-light !important;
}

.table {
  --bs-table-active-bg: #e9ecef;
  --bs-table-hover-color: black;
  --bs-table-hover-bg: #e9ecef;
  --bs-table-striped-color: black;
  --bs-table-striped-bg: #e9ecef;
}

// stepper

.stepper-container {
  display: table;
  list-style: none;
  position: relative;
  width: 100%;
  background: #f7f7f8;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

.stepper-item {
  display: table-cell;
  text-align: center;
  width: 1%;
  position: relative;
}

.stepper-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.stepper-link:before {
  border-top: 4px solid #c8c7cc;
  content: "";
  display: block;
  font-size: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 21px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
}

.stepper-number {
  background-color: #ffffff;
  border: 5px solid #c8c7cc;
  border-radius: 100%;
  color: #546474;
  display: inline-block;
  font-size: 15px;
  height: 40px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 2;
}

.stepper-link.selected .stepper-desc,
.stepper-link.done .stepper-desc {
  color: #2b3d53;
}

.stepper-desc {
  color: #8e8e93;
  display: block;
  font-size: 14px;
  margin-top: 4px;
  max-width: 100%;
  text-align: center;
  word-wrap: break-word;
  z-index: 104;
}

.stepper-active:before {
  border-top: 4px solid #a5c0f4;
}

.stepper-active-number {
  background-color: #ffffff;
  border: 5px solid #a5c0f4;
  border-radius: 100%;
  color: #546474;
  display: inline-block;
  font-size: 15px;
  height: 40px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 2;
}

.activity-log-card {
  height: 25rem !important;
  overflow: auto;
}

.aircraft-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
  // padding: 16px;
  margin-bottom: 16px;
}

.aircraft-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #f0f8ff; /* Light blue background on hover */
}

.aircraft-card.selected {
  border-color: #007bff; /* Blue border for selected card */
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5); /* Blue shadow for selected card */
  background-color: #e0f7ff; /* Light blue background for selected card */
}

.aircraft-card h3 {
  margin-top: 0;
  color: #007bff; /* Blue text color for headings */
}

.aircraft-card p {
  margin: 4px 0;
}

.aircraft-card .card-body {
  padding: 16px;
}
